.status-bar {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: #4E4E4E;
}

.status-bar i {
    font-size: 14px;
}

.status-bar .status-bar__battery-level {
    margin-left: 5px;
}

.s-bar {
    position: fixed;
    top: 0px;
    padding-top: 10px;
    max-width: 549px;
    width: 100%;
    padding-right: 40px;
    background-color: white;
    z-index: 2;
}